---
import data from "@/content/education_data.json";
import Section from "@/components/Section.astro";
import School from "@/icons/School.astro";

const education = data;

const sortedEducation = education.sort((a, b) => b.from - a.from);

export const prerender = true;
---

<Section title="Educación">
  <div class="flex flex-col gap-6 ml-3">
    {
      sortedEducation.map((item) => (
        <article>
          <div class="flex flex-row gap-2 items-center mb-2">
            <School class="text-gray-800" />
            <h3 class="font-semibold text-gray-800 text-lg">{item.major}</h3>
          </div>
          <div>
            <p class="text-gray-700 text-lg font-bold md:text-base">
              {item.status}
            </p>
          </div>
          <div class="flex flex-row justify-between text-xs md:text-sm font-bold text-gray-500">
            <a
              href={item.school.site}
              class="block mb-2 hover:transition-all hover:text-gray-900 hover:underline"
              target="_blank"
              rel="noopener noreferrer"
              title={item.school.name}
            >
              {item.school.abbreviation}
            </a>
            <span class="text-gray-600">
              {new Date(item.from)
                .toLocaleString("es-ES", { month: "short", year: "numeric" })
                .replace(" de ", " ")
                .replace(/^\w/, (c) => c.toUpperCase())}
              {" - "}
              {new Date(item?.to ? item.to : "presente")
                .toLocaleString("es-ES", { month: "short", year: "numeric" })
                .replace(" de ", " ")
                .replace(/^\w/, (c) => c.toUpperCase())}
            </span>
          </div>
        </article>
      ))
    }
  </div>
</Section>
